body {
    background-color: rgb(235, 235, 232);
    font-size: 18px;
    font-weight: 300

}

h2, h1 {
  color:#1A76CC;
  font-family: 'Roboto Slab', serif;

}

p{
  font-family: 'Nunito', sans-serif;

}
a{
  text-decoration: none;
}

div {
     text-align: center;
    margin: 24px auto;
    background: white;
    width: 700px;
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}



.Btn-blue {

    color: white;
    padding: 10px 14px;
    border-radius: 14px;
    background-color: #1A76CC;
    border: 1px solid transparent

}

.Btn-blue:hover {
   border: 1px solid transparent;
    color: #1A76CC;
    background-color: white;
}


.img-circle{
    border-radius: 50%;
}


.padding{
    padding: 10px;
}



.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline-block;
  padding: 0px 2.5px 16px;
}



.color {
  color:#1A76CC;
  font-size: 28px;
}

.color:hover{
   border: 1px solid transparent;
    color: #1A76CC;
    background-color: white;
}







@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}



